* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins';
}

header {
  height: 100vh;
  width: 100vw;
  background-color: white;
  background-size: cover;
}

#content {
  padding-left: 30px;
}

#search-results {
  text-align: center;
}

.navbar {
  position: absolute;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  box-sizing: border-box;
  align-items: center;
}

.navbar a {
  color: black;
}

.navbar .nav-links {
  position: relative;
  order: 1;
}

.navbar .logo {
  order: 0;
  width: 150px; /* Ajustez la largeur en fonction de la taille souhaitée */
  left: 10px;
  top: 20px;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}
.navbar .nav-links ul li.active a {
  color: red;
  font-weight: 600;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 50px;
  right: 30px;
  width: 60px;
}

.card-container {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-container-recherche {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.img-container-recherche {
  margin: 20px;
  text-align: center;
}
.img-container {
  margin: 20px;
  text-align: center;
}

.boutonPage {
  align-items: center;
  text-align: center;
}

.recherche {
  padding-top: 150px;
  padding-left: 80%;
}
.img-collection {
  margin: 20px;
  text-align: center;
  width: 400px;
  height: 200px;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Pour espacer les éléments verticalement */
  position: relative;
}

.symbolP {
  max-width: 100px;
  max-height: 100px;
  margin-top: 15px;
  background-color: green;
}

.logoP {
  max-width: 50px;
  max-height: 50px;
  margin-left: -200px;
  margin-top: -5px;
}

.name {
  color: black;
  font-weight: bold;
  font-size: 20px; /* Ajustez la taille de la police selon vos besoins */
  width: 200px;
  text-align: center; /* Pour centrer le texte horizontalement */
}

.collection {
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* Côté responsive => surtout pour le menu */
@media screen and (max-width: 900px) {
  .navbar {
    padding: 0;
  }

  .navbar .logo {
    position: absolute;
    width: 150px;
    left: 10px;
    top: 20px;
  }
  .navbar .menu-hamburger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(8px);
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
}
