* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.grid {
  display: grid;
  gap: 1px;
  margin: 0 auto;
}

.cell {
  background: #ddd;
}
/* TopBar.css */

.topBar {
  display: flex;
  align-items: center;
}

.logoContainer {
  margin-left: 10px;
  max-width: 25%;
}

.logo {
  margin-left: 10%;
  width: 80%; /* Ajustez la largeur en fonction de la taille souhaitée */
  height: auto;
  object-fit: cover;
}

.menu {
  background-color: #0074cc; /* Couleur de fond de la barre supérieure */
  color: black; /* Couleur du texte */
  margin-top: 10px;
  width: 100%;
  height: 50px;
}

.elem_menu {
  margin-left: 10%;
  width: 80%;
}
/* Menu.css */

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  background-color: #0074cc; /* Couleur de fond du menu */
}
